#stat {
    background: url("/img/fon/bg.jpg") no-repeat 50% 50% transparent;
    background-size: cover;
    height: 317px;
    position: relative;
    padding: 0;
    overflow: hidden;
}
#stat .top-line,
#stat .bottom-line
{
    background-color: rgba(255, 255, 255, 0.7);
    height: 62px;
}
#stat .bottom-line {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 0;
}
#stat ul {
    position: absolute;
    height: 317px;
    width: 100%;
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    text-align: center;
    padding: 0 0;
    z-index: 1;
}
#stat ul li {
    display: inline-block;
    position: relative;
    margin: 0 3px;
    width: 13%;
    min-width: 180px;
}
#stat .icon-item {
    display: inline-block;
    height: 75px;
    width: 150px;
    margin: 20px auto;
    border: 1px solid #000000;
    border-radius: 75px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
    padding-top: 75px;

}
#stat .icon-item img {
    display: block;

    width: 146px;
    height: 146px;
    top: 50%;
    margin: -71px auto 0;
    transition: none 0.3s;
    transition-property: margin, width, height;
    transition-timing-function: cubic-bezier(0, 0, 0, -1);
}
@media screen and (max-width: 800px) {
    #stat .top-line,
    #stat .bottom-line
    {
        display: none;
    }
    #stat ul {
        position: relative;
        width: 100%;
        max-width: 410px;
        height: auto;
        margin: 0 auto;
    }
    #stat ul li {
        min-width: 145px;
        padding-top: 180px;
        width: 160px;
        height: 60px;
        margin: 0 20px;
    }
    #stat {
        padding: 20px 0 50px;
        height: auto;
        background: url("/img/fon/bg_mini.png") no-repeat 50% 100% #939a9d;
        background-size: 100% auto;
    }
    #stat div.item-count,
    #stat div.item-title {
        height: auto;
    }
    #stat .icon-item {
        position: absolute;
        top: 0;
        left: 0;
    }
}

#stat .icon-item:hover img {
    height: 120px;
    width: 120px;
    margin-top: -60px;
}
#stat .item-title,
#stat .item-count {
    vertical-align: middle;
}
#stat .item-title,
#stat .item-count {
    display: table-cell;
    text-align: center;
    height: 62px;
    width: inherit;
}
#stat .item-title {
    font-size: 18px;
}
#stat .item-count {
    font-size: 25px;
}
.item1 {
    background: url("/img/icon/icon1.png") no-repeat 50% 50% transparent;
}
.item2 {
    background: url("/img/icon/icon2.png") no-repeat 50% 50% transparent;
}
.item3 {
    background: url("/img/icon/icon3.png") no-repeat 50% 50% transparent;
}
.item4 {
    background: url("/img/icon/icon4.png") no-repeat 50% 50% transparent;
}
.item5 {
    background: url("/img/icon/icon5.png") no-repeat 50% 50% transparent;
}
