#apply_to {
    border-top: none;

}
#apply_to form {
    max-width: 310px;
    margin: 0 auto;
    display: block;
    padding: 0 13px;
    overflow: hidden;
}
#apply_to form > div.form {
    padding: 20px;
    background: url("/img/fon/reload.png") no-repeat 50% 50% transparent;
}
#apply_to div.form input[type="text"] {
    display: block;
    width: 100%;
    margin: 6px -9px;
    padding: 10px 8px;
    text-align: center;
    background-color: rgba(255,255,255, 0.7);
    border: 1px solid #000000; /*TODO:: color*/
    border-radius: 8px;
    font-size: 18px;
}
#apply_to div.form input[type="submit"] {
    background-color: #005672; /*TODO:: color*/
    border: medium none;
    border-radius: 6px;
    color: white;
    display: block;
    font-size: 21px;
    font-weight: bold;
    margin: 14px auto 0;
    padding: 3px;
    text-align: center;
    text-transform: lowercase;
    width: 50%;
}
#apply_to form.double-column {
    width: 100%;
    max-width: 650px;
}
#apply_to form.double-column div.form {
    float: left;
    margin: 0 0;
    width: 280px;
}

#apply_to .home-param {
    margin: 0 0;
    overflow: hidden;
    padding-top: 25px;
    min-width: 235px;
}
#apply_to form.double-column .home-param{
    float: left;
    margin: 0 0;
    width: 235px;
}

#apply_to_list {
    position: relative;
    padding-top: 20px;
}
#apply_to_list > div.list-next {
    display: none;
}
#apply_to_list.full > div.list-next {
    display: block;
}
#apply_to_list > .list {
    display: block;
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
}
#apply_to_list > .list > li {
    display: block;
    float: left;
    width: 230px;
    padding: 10px;
    overflow: hidden;
}
#apply_to_list .list-next {
    display: none;
}
#apply_to_list.full .list-next {
    display: block;
}
@media screen and (max-width: 800px) {
    #apply_to_list > .list {
        width: 100%;
    }
    #apply_to_list > .list > li {
        float: none;
        margin: 0 auto;
    }

}
.home-param .item-preview {
    display: block;
    border: 1px solid #000000;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    max-height: 143px;
}
.home-param .item-preview img {
    width: 100%;

}
.home-param a.item-preview:hover:before {
    display: table-cell;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    bottom: 0;
    padding: 11px 0;
    position: absolute;
    content: "Подробнее";
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.home-param div.item-preview {
    cursor: default;
}
.home-param div.item-preview:before {
    background: url("/img/icon/v.png");
    width: 54px;
    height: 59px;
    bottom: 0;
    position: absolute;
    content: "";
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.home-param div.item-preview a.close {
    background: url("/img/icon/x.png");
    height: 20px;
    width: 20px;
    position: absolute;
    top: 6px;
    right: 7px;
    cursor: pointer;
}
.home-param ul.list {
    padding: 10px;
    display: block;
    width: auto;
}
.home-param li {
    display: block;
    padding: 1px 0;
}
.home-param li.item-address {
    font-weight: bold;
}
.home-param li.item-param {
    overflow: hidden;
}
.home-param li.item-param span {
    float: right;
    padding-left: 4px;
    width: 55px;
}
.home-param li.item-param label {
    float: left;
    padding-right: 2px;
}
.home-param li.item-param div {
    height: 12px;
    border-bottom: 1px dashed #000000;
    overflow: hidden;
}
.home-param li.item-price {
    font-size: 23px;
    color: #005672;
    font-weight: bold;
    padding: 6px 0;
}
.apply-to-list-next {
    background-color: #dbf6ff ; /*TODO::color*/
    border: 1px solid #000000;
    border-radius: 20px;
    position: absolute;
    width: 230px;
    text-transform: uppercase;
    left: 50%;
    margin-left: -115px;
    bottom: -22px;
    padding: 7px 0;
    text-align: center;
    font-size: 23px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    #window-info div.window {
        background-color: #3d4244;
        width: auto;
        height: 100%;
        margin: 0;
        padding: 15px 20px 0 20px;
        overflow-y: auto;
    }
    #window-info div.close {
        position: relative;
        margin: 0 auto;
        right: 0;
    }
    #window-info div.next-home {
        right: 23px;
        top: 26px;
    }
    #window-info div.prev-home {
        left: 23px;
        top: 26px;
    }
    #window-info div.info {
        background: transparent;
        margin-bottom: 20px;
        padding: 5px 0;
    }

    #window-info div.info ul.list,
    #window-info div.info .price
    {
        color: white;
        min-width: 226px;
    }
    #window-info div.window .preview {
        margin-top: 10px;
        display: block;
        height: auto;
    }
    #window-info .btn-nav:before {
        display: none;
    }



}
@media screen and (max-width: 640px) {

    #window-info .info .button {
        clear: both;
    }
}
@media screen and (max-width: 490px) {
    #window-info div.info ul,
    #window-info div.info .price
    {
        float: none;
        overflow: hidden;
        width: auto;
    }
    #window-info div.info .price {
        text-align: center;
        padding: 10px 0;
    }

}
@media screen and (max-width: 390px) {
    #window-info div.window {
        padding: 15px 0;
    }
    #window-info div.info {
        padding: 10px 10px;
    }
    #window-info div.window .preview {
        display: none;
    }
    #window-info ul.list-preview {
        width: auto;
        height: auto;
        text-align: center;
    }
    #window-info ul.list-preview li {
        display: inline;
        margin: 5px 1px !important;
        float: none;
    }
    #window-info ul.list-preview li.active {
        width: 100%;
        height: 100px;
    }
    #window-info ul.list-preview li.active img {
        width: 100%;
    }
    #window-info ul.list-preview li img {
        width: 123px;
    }
}

#window-info {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}
#window-info .window {
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    width: 700px;
    height:  615px;
    padding: 20px;
    top: 0;
    margin: 30px auto 0 auto;
}
#window-info .window .preview {
    height: 410px;
    overflow: hidden;
    border: 1px solid #000000;
}
#window-info .window .preview img {
    width: 100%;

}
#window-info .list-preview-box {
    overflow: hidden;
    position: relative;
}
#window-info .list-preview {
    display: block;
    overflow: hidden;
    width: 1000px;
    margin: 13px 0;
    height: 89px;
    -moz-user-select: none;
    float: none
}
#window-info .list-preview li:first-child {
    margin-left: 0;
}
#window-info .list-preview li {
    float: left;
    width: 126px;
    height: 87px;
    margin: 0 0 0 15px;
    border: 1px solid #000000;
    overflow: hidden;
    cursor: pointer;
    position: relative;

}
#window-info .list-preview li:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
}
#window-info .list-preview li img {
    height: 100%;
}
#window-info .info {
    background-color: rgba(255,255,255,0.7 );
    padding: 5px 15px;
    overflow: hidden;
}
#window-info .info ul {
    display: block;
    float: left;
    width: 39%;
}
#window-info .info ul li {
    font-weight: bold;
}
#window-info .info ul li span {
    font-weight: normal;
}
#window-info .info .price {
    color: black;
    float: right;
    font-size: 27px;
    font-weight: bold;
    padding: 25px 0;
    width: 39%;
    text-align: right;
}
#window-info .info .button {
    width: 130px;
    padding: 15px 0;
    border-radius: 10px;
    background-color: #005672;
    overflow: hidden;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 12px auto 12px auto;
    cursor: pointer;
}

#window-info  .close {
    position: absolute;
    background: url("/img/icon/close.png") no-repeat 0 0 transparent;
    top: 0;
    right: -50px;
    height: 27px;
    width: 27px;
    cursor: pointer;
}

#window-info .next-home {
    position: absolute;
    background: url("/img/icon/right.png") no-repeat 0 0 transparent;
    right: -50px;
    top: 50%;
    margin-top: -17px;
    height: 35px;
    width: 21px;
    cursor: pointer;

}
#window-info  .prev-home {
    position: absolute;
    background: url("/img/icon/left.png") no-repeat 0 0 transparent;
    left: -50px;
    top: 50%;
    margin-top: -17px;
    height: 35px;
    width: 21px;
    cursor: pointer;
}
#window-info .btn-nav:before {
    content: "";
    position: absolute;
    cursor: pointer;
    width: 800px;
}

#window-info .close:before {
    height: 80px;
    top: -30px;
    left: -20px;
}
#window-info .next-home:before {
    height: 500px;
    top: -250px;
    left: -27px;
}
#window-info .prev-home:before {
    height: 500px;
    top: -250px;
    right: -27px;

}
