.calculator > div {
}

.calculator .form {
    background: url("/img/fon/conf.png") no-repeat 40px 20px #dbf6ff;
    padding: 15px;
    border-radius: 7px;
    border: 1px solid #000000;
    width: 60%;
    min-width: 626px;
    margin: 0 auto;
}
.calculator .form table {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}
.calculator .form table td {
    text-align: right;
    padding: 5px 10px;
}
.calculator .form table td > div {
    font-weight: normal;
    margin: 0 12px;
}
.calculator .ui-slider {
    height: 6px;
    border: 1px solid #93d8de;
    background-color: #a5d0de;
    background-image: none;
}
.calculator .ui-slider .ui-slider-range {
    background-color: #005672;
    border: 1px solid #005672;
    background-image: none;
}
.calculator .ui-slider > span {
    background-image: none;
    background-color: white;
    border: 3px solid #005672;
    border-radius: 20px;
    top: -8px;
    height: 17px;
    width: 17px;
    cursor: pointer;
    -moz-user-select: none;
    display: block;

}
.calculator tr.year td,
.calculator tr.sum td {
    padding: 11px 0;
}
.calculator .input {
    font-weight: bold;
}
.calculator .input > span {
    float: left;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (min-width: 800px) {
    #calc_1.calculator tr td:first-child {
        width: 180px;
    }

    #calc_1.calculator tr td:last-child {
        width: 150px;
        padding-right: 20px;
    }
    #calc_2.calculator tr td:first-child {
        width: 140px;
    }

    #calc_2.calculator tr td:last-child {
        width: 150px;
        padding-right: 20px;
    }
}
@media screen and (max-width: 800px) {
    .calculator .form {
        min-width: 150px;
        width: 80%;
    }
    .calculator tr {
        display: block;
        overflow: hidden;
        position: relative;
    }
    .calculator tr td {
        display: block;
        width: auto;
        overflow: hidden;
    }

    .calculator .input span {
        float: none;
        font-weight: normal;
    }
    .calculator .form td > div.input {
        background-color: white;
        border: 1px solid #a0a0a0;
        border-radius: 6px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5) inset;
        margin: 3px auto;
        width: 124px;
        padding: 9px 10px;
        text-align: center;
        position: relative;

    }
    .calculator .input > div {
        background: none no-repeat 0 0 transparent;
        position: absolute;
        width: 80px;
        height: 75px;
        top: -15px;
        right: -80px;
        cursor: pointer;
        user-select: none;
    }
    .calculator .input .btn-left {
        left: -80px;
        background-image: url("/img/icon/str_l.png");
    }
    .calculator .input .btn-left:active {
        background-image: url("/img/icon/str_l_t.png");
    }
    .calculator .input .btn-right {
        background-image: url("/img/icon/str_r.png");
    }
    .calculator .input .btn-right:active {
        background-image: url("/img/icon/str_r_t.png");
    }
    .calculator tr.year td:first-child,
    .calculator tr.sum td:first-child {
        text-align: center;
        font-weight: normal;
        font-size: 24px;
    }

    .calculator .title-row {
        width: 70%;
        float: left;
    }
    .calculator .slider {
        display: none;
    }
}
