#faq {
    background: url("/img/fon/faq.jpg") no-repeat 100% 0 transparent;
    min-height: 425px;
}
#faq > div {
    margin: 0 6%;
}
#faq .list {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
}
#faq .list li {
    font-size: 16px;
    padding: 10px 10px 10px 25px;
    background-color: rgba(255, 255, 255, 0.5);/*TODO:: color*/
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
#faq .list li div span {
    font-weight: bold;
}
#faq .list li.active {
    cursor: default;
}
#faq .list li.active div.answer {
    display: block;
}
#faq .list li .answer {
    display: none;
    padding: 10px 0;
}
#poll .answer div {
    margin: 0 0 0 50%;
    cursor: pointer;
}
#poll .title {
    padding: 10px 0 20px;
}
#faq .list .question {
    cursor: pointer;
}

