html {
    width: 100%;
}
body
{
    width: 100%;
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #ffffff;
}

body > .body {
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
}
#mainmenu {
    background-color: #00a651;
    position: relative;
}
.top-fon > div.content {

    position: relative;
    width: 100%;

    margin: 0 auto;
}
.top-fon .faq {
    color: #000000;
    position: absolute;
    top: 8px;
    right: 278px;
    z-index: 11;
    text-decoration: none;
    font-weight: bold;

}
.fon-logo {
    top: 0;
    right: 0;
    position: absolute;
    width: 348px;
    height: 466px;
    background: url("/img/fon/fon_logo.png") no-repeat 100% 0 transparent;
    z-index: 10;
}
.top-fon .top-line {
    background-color: rgba(39, 170, 225, 0.5);
    height: 33px;
    position: absolute;
    top: 0;
    width: 100%;
}
.top-fon .icon-logo {
    background: url("/img/icon/logo.png") no-repeat 0 0 transparent;
    width: 225px;
    height: 83px;
    position: absolute;
    right: 20px;
    top: 53px;
}
.top-fon {
    background: url("/img/fon/top_fon.jpg") repeat-x 0 0 transparent;
    background-size: auto 188px;
    height: 157px;
    position: relative;
}
.top-fon .fon-animate {
    background: url("/img/fon/top_fon.jpg") repeat-x 31px 50%  transparent;
    background-size: auto 188px;
    height: 188px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    z-index: 0;
    transition: left 0s linear;
    transition-property: background-position,left;
}
.top-fon .fon-animate.active1 {
    left: 100%;
    transition-duration: 10s;
    background-position: 100%;
}
.top-fon .fon-animate.active2 {
    left: 100%;
    transition-duration: 13s;
    background-position: 100%;
}
.top-fon .fon-animate.active3 {
    left: 100%;
    transition-duration: 7s;
    background-position: 100%;
}
#base-main-menu {
    overflow: hidden;
    z-index: 100;
}
#base-main-menu .content-animation {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: absolute;
}
#base-main-menu.hidden {
    overflow: visible;
}
#base-main-menu.hidden .main-banner > div {
    /*height: 60px;*/
}
#base-main-menu.hidden .main-banner .banner_content {
    height: 56px;
}
#base-main-menu.hidden .banner_navigation,
#base-main-menu.hidden .banner_content li span
{
    display: none;
}
#base-main-menu.hidden .fon-logo {
    height: 244px;
}
#mainmenu {
    height: 31px;
}
#mainmenu > ul {
    padding: 8px 150px 8px 0;
    width: 1055px;
    margin: 0;
    display: block;
    text-align: center;
    font-size: 13px;
    position: relative;
    float: right;
}
#mainmenu > ul.show {
    display: inline-block;
}
#mainmenu > ul li {
    display: inline;
    margin: 0 5px;
    padding: 0 15px;
}
#mainmenu > ul li a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
#mainmenu > ul li a:hover,
#mainmenu > ul li a.active {
    color: white;
}
#mainmenu .item-menu {
    display: none;
    float: right;
    font-size: 18px;
    right: 350px;
    padding-right: 33px;
    position: absolute;
    top: 5px;
    color: white;
    text-decoration: none;
}
#mainmenu .item-menu:after {
    position: absolute;
    display: block;
    background: url("/img/icon/Poloski.png") no-repeat 50% 50% transparent;
    height: 31px;
    width: 29px;
    top: -6px;
    right: 0;

    content: "";
}
#mainmenu .icon-phone {
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    right: 23px;
    top: 6px;
    padding: 2px 0 2px 22px;
    display: block;
    background: url("/img/icon/phone.png") no-repeat 0 50% transparent;
    z-index: 10;
}
@media screen and (max-width: 800px) {
    #mainmenu > ul li {
        display: block;
        padding: 10px 0;
        text-align: left;
    }
    #mainmenu > ul li a{
        font-weight: normal;
    }
    #mainmenu .item-menu {
        display: inline;
    }
    #mainmenu > ul {
        display: none;
        position: absolute;
        top: 31px;
        right: 0;
        z-index: 10;
        width: 443px;
        height: 278px;
        padding: 0 0 0 6px;
        font-size: 20px;
        background-color: rgba(0, 166, 81, 0.60);
    }


}
@media screen and (max-width: 350px) {
    #mainmenu .item-menu {
        display: inline;
        right: 150px;
        color: black;
        z-index: 100;
    }

    .top-fon .faq {
        right: 205px;
    }
    .main-banner {
        display: none;
    }
    #base-main-menu.hidden,
    #base-main-menu,
    .fon-logo
    {
        overflow: visible;
        height: 188px;
    }
    #mainmenu > ul {
        height: auto;
        width: 100%;
    }
    #mainmenu > ul li {
        text-align: right;
    }

    #mainmenu .icon-phone {
        top: -150px;
    }
}
.main-banner {
    position: relative;

}
.main-banner > .banner_content {
    height: 278px;
    width: 100%;

    position: relative;
    font-size: 28px;
    font-family: tahoma;
    padding: 0;
    margin: 0;
}
.banner_content > li {
    background: none repeat-x 0 100% transparent;
    display: table;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.banner_content > li span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.banner_content li {
    opacity: 0;
    transition: all 2s ease;
}
.banner_content li.active {
    opacity: 1;
}

.main-banner .btn-show {
    background: url("/img/icon/up.png") no-repeat 0 0 transparent;
    position: absolute;
    top: 20px;
    left: 18px;
    height: 21px;
    width: 35px;
    cursor: pointer;
    z-index: 8;
}
#base-main-menu.hidden .main-banner .btn-show {
    background: url("/img/icon/down.png") no-repeat 0 0 transparent;
    position: absolute;
    top: 20px;
    left: 18px;
    height: 21px;
    width: 35px;
    cursor: pointer;
}
.banner_navigation {
    position: absolute;
    bottom: 10px;
    left: 18px;
}
.banner_navigation input {

}



/* CONTENT */
div.section {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    border-top: 1px solid #000000;
}
div.section.bottom-left {
    background: url("/img/fon/bottom_left.jpg") no-repeat 0 100% transparent;
}
div.section.top-right {
    background: url("/img/fon/top_right.jpg") no-repeat 100% 0 transparent;
}
div.section.top-bottom {
    background: url("/img/fon/top_right.jpg") no-repeat 100% 0, url("/img/fon/bottom_left.jpg") no-repeat  0  100% transparent;
}
div.section .title {
    font-size: 25px;
    text-transform: uppercase;
    color: #005672;
    text-align: center;
    padding-bottom: 20px;
}
/* demand */
ul.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.window-message {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}
.window-message.show {
    display: block;
}
.window-message .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.window-message .box {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 50%;
    left: 0;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10;
    margin-top: -100px;
}
.window-message .window-close {
    position: absolute;
    background: url("/img/icon/znak.png") no-repeat 0 0 transparent;
    height: 58px;
    width: 69px;
    left: 50%;
    top: -70px;
    margin-left: -35px;
    cursor: pointer;
}
.window-message .box-message {
    padding: 100px 0 20px 0;
    background: url("/img/icon/znak.png") no-repeat 50% 20px rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 30px;
}
.window-message.success .box-message {
    background-image: url("/img/icon/Ok.png");
}
.window-message.error .box-message {
    background-image: url("/img/icon/X.png");
}

#ya_informer {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    z-index: 10000;
}