#recall {
    background: url("/img/fon/recall.jpg") no-repeat 0 0 transparent;
    background-size: 100% auto;
}
#recall > div {
    padding: 30px 150px;
}
#recall  .recall-name {
    font-weight: bold;
}
#recall ul li {
    overflow: hidden;
    font-size: 16px;
    padding-bottom: 30px;
}
#recall ul li:last-child {
    padding-bottom: 0;
}
#recall ul li img {
    float: left;
    margin-right: 50px;
    width: 145px;
    height: 145px;
    border-radius: 75px;
    border: 1px solid #000000; /*TODO:: color */
}
#recall ul li .comment {
    overflow: hidden;
}
@media screen and (max-width: 800px) {
    #recall ul li img {
        display: block;
        float: none;
        margin: 0 auto;
    }
    #recall ul li .comment {
        padding: 20px 0 40px;
        overflow: hidden;
    }
    #recall > div {
        padding: 30px 6%;
    }
}
