
#main_user > div {
    padding: 30px 150px;
    overflow: hidden;
}
#main_user img {
    float: left;
    margin-right: 20px;
    width: 127px;
    display: block;
}
#main_user .content-title {
    font-weight: bold;
    overflow: hidden;
}
#main_user .content-text {
    overflow: hidden;
}
#main_user > div > div {
    min-width: 300px;
    overflow: hidden;
}
@media screen and (max-width: 800px) {
    #main_user > div {
        padding: 30px 6%;
    }
    #main_user img {
        float: none;
        margin: 20px auto;
    }
    #main_user > div > div {
        min-width: auto;
        overflow: hidden;
    }
}
.page_supply #demand {
    padding-top: 40px;
}
#demand > div {
    background: url("/img/fon/demand.png") no-repeat 65% 56px transparent;
}

#demand ul {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

#demand ul li {
    font-weight: bold;
    text-align: left;
    font-size: 23px;
    margin-bottom: 3px;

}
#demand ul li span {
    font-weight: normal;
    width: 50%;
    text-align: right;
    display: block;
    float: left;
    padding-right: 10px;
}
#contact_list ul {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

#contact_list ul li {
    font-weight: bold;
    text-align: left;
    font-size: 23px;
    margin-bottom: 3px;

}

#contact_list ul li span {
    font-weight: normal;
    width: 50%;
    text-align: right;
    display: block;
    float: left;
    padding-right: 10px;
}

#vk_comments {
    margin: 40px auto;
    max-width: 800px;
}


#download_file {
    padding: 20px 0;
}
#download_file ul {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 6%;
}
#download_file ul li {
    overflow: hidden;
    margin: 10px 0;
    padding: 0 2px;
}
#download_file ul li span {
    float: left;
    padding: 22px 13px 22px 4px;
    font-size: 16px;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width: 350px) {
    #download_file ul li span {
        max-width: 147px;
    }
}
#download_file ul li div.download {
    width: 67px;
    text-align: center;
    float: right;
    font-weight: bold;
}
#download_file ul li div.download a {
    display: block;
    height: 65px;
    width: 65px;
    border-radius: 35px;
    border: 1px solid #000000;
    margin-bottom: 3px;
    background: url("/img/icon/downloads.png") no-repeat 47% 54% white;
    cursor: pointer;
}
#download_file ul li div.diff {
    display: block;
    border-bottom: 1px solid #000000;
    height: 32px;
    overflow: hidden;
    content: "";
}

#feedback {

}
#feedback form {

    display: block;
}
#feedback form {
    padding: 20px 0;
    background: url("/img/fon/question.png") no-repeat 50% 50px transparent;
    margin: 0 6%;
}
#feedback input[type="text"] {
    max-width: 310px;
    width: 100%;
    display: block;
    margin: 6px auto;
    padding: 10px 8px;
    text-align: center;
    background-color: rgba(255,255,255, 0.5);
    border: 1px solid #000000; /*TODO:: color*/
    border-radius: 8px;
    font-size: 18px;
}
#feedback input[type="submit"] {
    background-color: #005672; /*TODO:: color*/
    border: medium none;
    border-radius: 6px;
    color: white;
    display: block;
    font-size: 21px;
    font-weight: bold;
    margin: 14px auto 0;
    padding: 2px 0;
    text-align: center;
    text-transform: lowercase;
    width: 185px;
}
#feedback form.double-column {
    width: 650px;
}
#feedback form.double-column div.form {
    float: left;
    width: 50%;
    margin: 0 30px;

}
#feedback .home-param {
    margin: 0 30px;
    overflow: hidden;
}
#feedback textarea {
    background-color: rgba(255,255,255, 0.5);
    border: 1px solid #000000; /*TODO:: color*/
    padding: 5px;
    border-radius: 6px;
    max-width: 750px;
    width: 100%;
    min-height: 145px;
    display: block;
    margin: 0 auto;
    resize: vertical;
}
#ya-map {
    padding: 0;
}